@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

:root {
  --primary-color: #2a7ae4;
  --secondary-color: #f5f5f5;
  --terciary-color: #EAF2FD;
}

body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  width: 1136px;
  margin: 0 auto;
}
