
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding-top: 30px;
}

.add__product{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  width: 559px;
  margin: 10px 0 20px 0;

}
.add__title{
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  text-align: start;
  margin: 16px 0 0 0 ;
}

.mansagemONSucesso{
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: rgb(78, 196, 78);
  padding: 20px 0;
  color: #FFF;
}
.mansagemONErro{
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: rgb(236, 59, 59);
  padding: 20px 0;
  color: #FFF;
}
.msg-of{
  display: none;
}

.add__product--upload{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;
  width: 100%;
}

.upload__file{
  align-items:center;
  background-color: #FFF;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 80px;
  padding: 25px 0;
  position: relative;
  width: 100%;
}


.upload__file p{
  text-align: center;
}

.add__product--upload img{
  width: 50px;
}

.add__product--upload .label{
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #2a7ae4;
  color: #FFF;
  padding: 20px 0;
}

#select{
  cursor: pointer;
  height: 100%;
  opacity: 0%;
  left: 0;  
  position: absolute;
  top: 0;
  width: 100%;
  height: 59px;

}



.img__select{
  background-color: #535353;
  color: #fff;
  display: none;
  font-size: 20px;
  height: 40px;
  line-height:40px;
  text-align: center;
  width: 100%;
}

.show{
  display: block;
}
.add__product--input{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.add__product--input input{
  padding-left: 5px;
  width: 100%;
  height: 56px;
  border: none;
}
#descricao{
  border: none;
}

.btn__submit{
  background-color: #2a7ae4;
  color: #FFF;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn__submit:hover{
  background-color: #3d8df5;
}

.add__product--input input[type=text],
.add__product--input input[type=number]{
  height: 40px;
}

.add__product--input input:focus{
  outline: none;
}

.add__product--input textarea{
  height: 60px;
  padding-left: 5px;
  padding-top: 5px;
  resize: none;
  width: 100%;
}

.msg{
  color: #fff;
  display: none;
  font-size: 20px;
  line-height: 40px;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 90%;
}
.msg--erro{
  background-color: var(--erro);
  display: block;
}
.msg--enviar{
  background-color: var(--enviar);
  display: block;
}


@media screen and (max-width: 768px) {
  header{
    margin-bottom: 50px;
  }
  header, .header__container, .footer__align{
    flex-direction: column;
    align-items: space-between;
  }
  
  header, .header__container, form, .titulo-adicionar, .upload__file, .add__product--input, .footer__contenter, .wrapper{
    width: 414px;
  }
  .upload__file{
    width: 390px;
  }
  .upload__file p, .add__product--input input, .add__product--input textarea{
    margin: 0 auto;
    width: 90%;
  }
  main {
    width: 414px;
  }

.add__title{
  text-align: center;
}

.upload__file{
  padding: auto 5px;
}


 footer{
  align-items: center;
 }
  .footer__align a, .footer__align span{
    margin-left: 1.5em;
  }
  
  .footer__logo{
    margin-left: 1em;
  }

  .footer .wrapper{
    margin-bottom: 30%;
  }

}

