.carrinho {
  background-color: #ffffff;
  box-shadow: -10px 0px 10px #00000025;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: -200%;
  transition: 0.5s;
  width: 350px;
  z-index: 3;
}

.carrinho--ativo {
  position: fixed;
  top: 0;
}

.carrinho__container {
  align-items: center;
  border-bottom: 1px solid #2a7ae450;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
}

.carrinho__header {
  align-items: center;
  border-bottom: 1px solid #2a7ae450;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
  width: 100%;
}

.carrinho__title {
  font-size: 2rem;
  font-weight: 1rem;
}

.carrinho__fechar {
  cursor: pointer;
  width: 1.5rem;
}

.carrinho__produto {
  border-bottom: 1px solid #2a7ae450;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  padding: 1.5rem 0;
  width: 100%;
}
.carrinho__produto__imagem {
  width: 25%;

  margin-right: 5%;
}

.carrinho__produto__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.carrinho__produto__valores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carrinho__produto__quantidade {
  width: 50px;

  background-color: #d4d4d4;

  border: none;
  border-radius: 10px;

  padding: 0.5rem;

  text-align: center;
}

.carrinho__produto__preco {
  font-size: 1.2rem;
  font-weight: 1rem;

  color: #0c0d0e;
}

.carrinho__produto__titulo {
  padding-bottom: 1.5rem;
}

.carrinho__produto__excluir {
  width: 24px;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.frete {
  display: flex;
  flex-direction: column;
}

.frete__calcular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  width: 100%;
}

.frete__input {
  border: 1px solid #2a7ae4;
  box-sizing: border-box;
  padding: 1rem .5rem;
  width: 50%;
}

.frete__botao {
  background-color: #ffffff;
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  cursor: pointer;
  width: 40%;
}

.frete__botao:hover {
  background-color: #2a7ae4;
  color: #ffffff;
  transition: .5s;
}

.carrinho__informacoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  width: 100%;
}

.carrinho__textos__total,
.carrinho__valores__total {
  font-weight: 1rem;
}

.button__carrinho {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 0;
  background-color: #2a7ae4;
  color: #ffffff;
  font-size: 1.075rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.button__carrinho:hover {
  background-color: #0c0d0e;
  color: #ffffff;
  transition: 0.5s;
}
