footer {
  grid-area: ft;
}

.footer {
  background-color: var(--terciary-color);
  /* width: 100vw; */
  /* height: auto; */
}

.footer__content {
  /* height: 368px; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 2rem;
  /* height: 50vh; */
}

.footer__align {
  /* height: 240px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}

.footer__logo {
  width: 176px;
  height: 50px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 234px; */
  /* width: 176px; */

  gap: 1rem;
}

.footer__links a {
  text-decoration: none;
  font-weight: 500px;
  color: var(--text-color);
  font-size: 1rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* height: 100%; */
}

.footer__form span {
  font-size: 1rem;
  font-weight: 700;
}

.footer__form label {
  position: relative;
  display: none;
}

.footer__form input {
  /* width: 550px; */
  height: 56px;
  background-color: #fff;
  outline: none;
  border: none;
  margin: 0.5rem 0;
  padding-left: 1rem;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
}

.footer textarea {
  border: none;
  padding-left: 1rem;
  padding-top: 1rem;
  outline: none;
  margin-bottom: 0.5rem;
  resize: none;
  /* width: 550px; */
}

.footer button {
  font-weight: 400;
  border: none;
  padding: 16px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #2a7ae4;
  width: 165px;
}

.footer__sign {
  height: 102px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
}